@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;900&family=Varela+Round&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #c1666b;
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  color: #ffee00;
  min-height: 100vh;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
  color: inherit;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link img {
  width: 1em;
  margin-right: 0.25rem;
}

.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover,
.footer-nav a:hover {
  color: #731dd8;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #000000;
  font-weight: bold;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}

.btn {
  color: white;
  background-color: #731dd8;
  padding: 0.8rem 0.8rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
}